{% extends "shop/base.html" %}

{% load static %}

{% block content %}


<div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
        <h1 id="hometext" class="font-weight-bold">На этой странице вы можете выбрать товар и купить его)</h1>
    </div>
</div>

<h2 class="mt-5">Магазин</h2>
<hr>
<div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-md-6">

        {% if product.image %}
        <a href="{% url 'viewproduct' product.id %}">
            <img src="{{ product.image.url }}" class="img-fluid mb-2">
        </a>
        {% else %}
        <a href="{% url 'viewproduct' product.id %}">
            <img src="/media/noPhoto.jpg" class="img-fluid mb-2">
        </a>
        {% endif %}
        <h3>{{ product.name }}--{{ product.category }}</h3>
        <p>{{ product.description }}</p>
        <p>Автор - {{ product.user }}</p>
        <p>{{ product.price }} руб.</p>

    </div>
    {% endfor %}
</div>

<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="?page={{pageinfo.previous}}">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{pageinfo.next}}">&raquo;</a>
        </li>
    </ul>
</nav>



{% endblock %}